# {{ ansible_managed }}
# ansibleguy.sw_zoneminder
# source: https://github.com/ZoneMinder/zoneminder/tree/master/misc

ScriptAlias /zm/cgi-bin "{{ ZM_CONFIG.path.cgi }}"
<Directory "{{ ZM_CONFIG.path.cgi }}">
    Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
    AllowOverride All
    Require all granted
</Directory>

    Alias /zm/cache "{{ ZM_CONFIG.path.cache }}"
    <Directory "{{ ZM_CONFIG.path.cache }}">
        Options -Indexes +FollowSymLinks
        AllowOverride None
        <IfModule mod_authz_core.c>
           # Apache 2.4
           Require all granted
        </IfModule>
    </Directory>

Alias /zm {{ ZM_CONFIG.path.web }}
<Directory {{ ZM_CONFIG.path.web }}>
  Options -Indexes +FollowSymLinks
  <IfModule mod_dir.c>
    DirectoryIndex index.php
  </IfModule>
</Directory>

<Directory "{{ ZM_CONFIG.path.web }}/api">
   RewriteEngine on
   RewriteRule ^$ app/webroot/ [L]
   RewriteRule (.*) app/webroot/$1 [L]
   RewriteBase /zm/api
</Directory>

<Directory "{{ ZM_CONFIG.path.web }}/api/app">
   RewriteEngine on
   RewriteRule ^$ webroot/ [L]
   RewriteRule (.*) webroot/$1 [L]
   RewriteBase /zm/api
</Directory>

<Directory "{{ ZM_CONFIG.path.web }}/api/app/webroot">
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    RewriteBase /zm/api
</Directory>
