# {{ ansible_managed }}
# ansibleguy.sw_zoneminder

ZM_PATH_DATA={{ ZM_CONFIG.path.data }}
ZM_PATH_BIN={{ ZM_CONFIG.path.bin }}
ZM_PATH_LIB={{ ZM_CONFIG.path.lib }}
ZM_PATH_CONF={{ ZM_CONFIG.path.conf }}
ZM_PATH_WEB={{ ZM_CONFIG.path.web }}
ZM_PATH_CGI={{ ZM_CONFIG.path.cgi }}
